


.slider{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 1;
}

.slider ul{
    display: flex;
    animation: cambiar 30s infinite linear;
    width: 400%;
} 

.slider li{
    width: 100%;
    list-style: none;
}
.slider li img{
    width: 100%;
    height: 100%; 
} 




@keyframes cambiar {
    0%{margin-left: 0%;}

    20%{margin-left: 0%;}

    25%{margin-left: -100%;}

    45%{margin-left:  -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
} 




.title {
    height: 50%;
    font-family: sans-serif;
    font-size: 5rem;
    color: #f9f3f4;
    text-shadow: 2px 2px #d6d6d6;
    position: absolute;
    align-items: center;
    align-content: center;
    top: 30%;
    right: 28%;
} 




.boton{
    position: absolute;
    top:65%;
    left: 45%;
    height: 100px;
    width: 165px;
    border-radius:20px;
    background:none;
    border: solid 5px #f9f3f4;
    font-family: sans-serif;
    color: #f9f3f4;
    font-weight: 1000;
    font-size: 25px;
    text-shadow: 1px 1px 1px #d6d6d6;
}


.boton:hover{
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.438);
    text-shadow: 0 0 5px #f1bfe5f4 transparent;
    /* filter: blur(0px);*/
} 


