*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




.paginas{
    height: 10px;
    padding: 30px;
    padding-left: 30px ;
    display: flex;  
    align-items: center;
    justify-content:flex-end;
    gap: 40px;
}

.boton-anterior{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: rgb(194, 44, 44);
    background-color: transparent;
    border: 0px;
    top: 266px;    
    right: 375px;
    cursor: pointer
}


.icono-anterior{
 cursor: pointer;
}

.boton-siguiente{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: rgb(194, 44, 44);
    background-color: transparent;
    border: 0px;
    top: 266px;    
    right: 225px;
    cursor: pointer
}



.input-paginas{
    width: 50px;
    height: 25px;
    position: absolute;
    top: 269px;    
    right: 320px;
    box-shadow: 2px 2px 4px #82a3a3cf ;
    border: 0px
}

.input-paginas:focus{
    outline: none; 
    box-shadow: 0px 2px 8px #619292ef;
}

.maximo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    position: absolute;
    top: 275px;    
    right: 271px;
}





                   /* RESPONSIVEEEEEEEEE */

/* TABLET */
@media screen and (max-width: 760px){
    .paginas{
        margin-right: 40px ;
    }
    
    .input-paginas{
        width: 30px;
        height: 15px;
        top: 277px;      
    }
}