*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.countries-card-container {
    backdrop-filter: blur(10px);
    border-radius: 5%;
    background-color: #818484b7;
    box-shadow: 4px 4px 6px #82a3a3cf ;
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
    animation: ease-in;
}

.countries-card-container:hover{
    transition-delay: 0s;
    box-shadow: 0 0 7px #82a3a3cf,
    0 0 10px #82a3a3cf,
    0 0 20px #82a3a3cf,
    0 0 30px #82a3a3cf,
    0 0 40px #82a3a3cf;
    transform: translateY(4px);
}

.countries-card-h3{
    margin-top: 20px;
    text-align: center ;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bandera{
    border-radius: 8px ;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.75) ;
    width: 250px;
    height: 150px;
    justify-items: center;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.boton-fav{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.countries-card-h4{
    text-align: center ;
    font-size: 11px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding-top: 8px;
}


.countries-card-1{
    text-align: center ;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    padding: 0;
}

.favb{
    left: 250px;
    top: 270px;
    position: absolute;
}

.boton-fav{
    background-color: transparent;
    border: 0px ;
    cursor: pointer;
}