
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.filter{
    margin-top: 60px;
    padding-left: 10px;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.filter-conteiner{
    padding: 40px;
    margin-bottom: 15px;
    background-color: #818484b7;
    box-shadow: 4px 4px 6px #82a3a3cf ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    font-weight: bolder;
    border-radius: 10px;
    gap: 30px;
}

.filter-conteiner:hover{
    box-shadow: 0px 0px 10px 10px #82a3a3cf;
}


.boton-reset-filter{
    position: absolute;
    cursor: pointer;
    top: 6rem;
    left: 22rem;
    height: 20px;
    width: 50px;
    color:black;
    border: 3px solid #398181b3;
    background-color: #398181e6;
    font-family: 'PT Sans', sans-serif
}





                   /* RESPONSIVEEEEEEEEE */

/* TABLET */
@media screen and (max-width: 760px){

    .filter{
        margin-top: 850px;
        padding-left: 80px;
        height: 3%;
        width: 80%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    
    .filter-conteiner{
        /* padding: 100px;
        margin-bottom: 150px; */
        gap: 10px;
    }
    

    
}
