
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.filter{
    margin-top: 60px;
    padding-left: 10px;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.filter-conteiner{
    padding: 30px;
    margin-bottom: 15px;
    background-color: #818484b7;
    box-shadow: 4px 4px 6px #82a3a3cf ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    font-weight: bolder;
    gap: 30px;
}

.filter-conteiner:hover{
    box-shadow: 0 5px 40px #82a3a3cf;

}