
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form-allActivity{
    position: absolute;
    background-color: white;
    border: solid 3px #3E8484;
    top: 7rem;
    width: 50vw;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.items-form-allActivity{
    width:  30rem;
    height: 21rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}