*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}




.form{
  height: 100vh;
  width:  100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}


.titulo{
  font-size: 45px;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 0px 0px 5px #5fad3dd9;
  margin-top: 120px;
}


.form-item{
  margin-top: -30px;
  margin-bottom: 5px;
  width:  30rem;
  height: 21rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}


.labels{
  color: black;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 22px;
}


.input-duration{
  height: 50rem;
}

.lista-container{
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.lista{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:black;
  font-weight: 800px ;
  width: 300px;
  margin-top: 3px;
  list-style: none;
}

.boton-lista{
  border: 0px;
  background-color: transparent;
}

.crear{
  position: absolute;
  border: 2px solid #5fad3dd9;
  background-color: #5fad3dd9;
  height: 50px;
  width: 100px;
  right: 45rem;
  top: 40.5rem;
  text-shadow: 0px 0px 4px white;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800px ;
  border-radius: 20%;
}



.crear:hover{
  box-shadow: 0px 0px 8px #487435fa;
  background-color:black;
  color: #5fad3dbc;
  border: 2px solid black;
  font-weight: 800px ;
  text-shadow: 0px 0px 0px  
}