*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




.home-cointeiner{
    height: 120vh;
    /* width: 98vw; */
    padding: 30px;
    padding-left: 30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.video-home{
    position: absolute;
    height: 280vh;
    width: 99.7vw;
    z-index: -1;
    object-fit: cover;
}

.countries-container{
    width: 80vw ;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.error-search-home{
    position: absolute;
    background-color: #818484eb;
    top:40%;
    width: 250px;
    height: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5% ;
    box-shadow: 2px 2px 4px #82a3a3;
    backdrop-filter: blur(6px);
}



.errores-name-home{
    font-size: 20px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}











                   /* RESPONSIVEEEEEEEEE */

@media screen and (max-width: 760px){
    .home-cointeiner{
        height: 100vh;
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    
    .video-home{
        height: 300vh;
    }
    
  

    
}


@media screen and (max-width: 600px) {
    
  }