@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,500;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.navBar{
    height: 8vh;
    width: 100vw;
    display: flex;
    background-color: black;
    justify-content: space-between;
}


/* .search{
   SIGO EN EL COMPONENTE "SEARCH".
} */


.flexboxitems{
    margin: 2px;
    margin-left: 20px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

a{
    text-decoration:none;
}

h3{
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 13px;
}

.flexboxitems1{
    color:white;
    margin-left: 20px;
    margin-right: 90px;
    color: white;
}


