.home-countries {
        margin-top: 40px;
        width: 80vw;
        height: 200vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5px 20px
}




/* RESPONSIVEEEEEEEEE */

/* TABLET */
@media screen and (max-width: 760px) {
        .home-countries {
                margin-top: 20px;
                /* width: 80vw;
                height: 200vh;
                gap: 5px 20px  */
        }

}